<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/util
               http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.springtest.model"></context:component-scan>
    <context:component-scan base-package="com.springtest.system"></context:component-scan>
    <context:component-scan base-package="com.springtest.usecases"></context:component-scan>

    <!-- namespace для подключения всех beanPostProcessor-ов -->
    <context:annotation-config/>

    <!--    создание бина мой аннотации-->
    <bean class="com.springtest.system.annotationimpl.PostProxyInvoker"/>
    <bean class="com.springtest.system.annotationimpl.RobotAnnotationBeanPostProcessor"/>
    <bean class="com.springtest.system.annotationimpl.InjectIntAnnotationBeanPostProcessor"/>

    <bean id = "sayRobot" class="com.springtest.usecases.usecaseimpl.TestRobotUseCaseImpl">
        <property name="message" value="Hi, Robot"></property>
    </bean>

    <bean id="testXmlConfig"
          class="com.springtest.usecases.system.configuration.TestXmlConfig">
        <property name="testStringFromXmlContext">
            <value>Hello World!</value>
        </property>
    </bean>

</beans>